@keyframes fadein{
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;}
}

.name-container{
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  transition: opacity ease;
}

.name-text{
  font-size: 2.5rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin-top: 5;
}

.fade-in{
  opacity: 1;
}

.fade-out{
  opacity: 0;
}

.logo{
  width: 35vw;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}

/*Laptops and phones in landscape*/
@media (min-width: 901px){
  .logo{
    width: 15vw;
  }
}

@media (orientation: landscape){
  .logo{
    width: 15vw;
  }
}