.project-card-container{
  width: 70vw;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  background-color: white;
  color: #100b17;
  border-radius: 10px;
  box-shadow: 2px 2px 10px white;
  margin: 20vh 30px;
}

.project-card-container a{
  text-decoration: none;
  color: #5fade2;
  font-weight: 600;
}

.project-image{
  width: 100%;
  height: 100%;
  max-height: 300px;
  border: 1px solid black;
  box-shadow: 0px 1px 5px black;
  border-radius: 10px;
  overflow: hidden;
}

.project-link-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

@media (min-width: 901px){
  .project-card-container{
    margin-left: 18vw;
  }
}