.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.nav-links {
  background-color: #100b17;
  flex-direction: column;
  width: 65vw;
  border: 1px solid #c8c8c8;
  padding: 1rem;
  display: none;
  list-style: none;
} 

.nav-links li{
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  color: #c8c8c8;
}

.nav-links a{
  color: #c8c8c8;
  text-decoration: none;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.8em;
  color: #c8c8c8;
  background-color: #100b17;
  border: 1px solid #c8c8c8;
  width: 70vw;
  padding: 5px;
}

.hamburger{
  width: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
}

.hamburger span{
  display: block;
  height: 3px;
  width: 100%;
  background-color: #c8c8c8;
  border-radius: ;
}

/* show menu when checkbox is checked */
.nav-toggle:checked + .nav-links {
  display: flex;
}

/*Laptops*/
@media (min-width: 901px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 100vw;
    background-color: #100b17;
    border: 1px solid #c8c8c8;
    gap: 1.5em;
  }
  
  .nav-links a{
    text-decoration: none;
    color: #c8c8c8;
  }
  
  .nav-links li{
  margin: 0;
  width: 0;
  padding: 0;
 }

  .nav-toggle,
  .nav-toggle-label {
    display: none;
  }
}