html, body{
 background-image: url("starry.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  color: white;
  font-family: Tahoma;
}

.page{
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1;
}